<div class="container">
  <h1>{{title}}</h1>
  <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink='/heroes' appHeighlight>Heroes</a>
      <a routerLink='/crisis' appHeighlight>Crisis</a>
       <a routerLink='peekAboo/24/323' appHeighlight>peekAboo</a>
  </nav>
  <!-- <app-heros></app-heros>
  <app-messages></app-messages>
  <app-child (close)=sendItParent($event)></app-child> -->
  <router-outlet></router-outlet>
  <div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
  </div>
  <p [appHeighlight]="color" defaultColor="green">Product HeightLight</p>
  <!-- <app-customer-dashboard></app-customer-dashboard> -->
</div>