<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  routerLink="/detail/{{hero.id}}" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
  //<button (click)="childElement.callFromParent()">call child</button>
  <button (click)="callparentFuncton()">call child</button>
</div>
 <app-customer-dashboard (myevent)="callparentFuncton()" #childElement></app-customer-dashboard>
 <app-forming (myevent)="callparentFuncton()"></app-forming>
 <app-hero-detail></app-hero-detail>